/build
/lake-packages/*
test.lean
EquivTests.lean
Chap3ExSol.lean
Chap4ExSol.lean
Chap5ExSol.lean
Chap6ExSol.lean
RemovedFromHTPIDefs.lean
FiniteSetsPairs.lean
FiniteSetsFunc.lean
.DS_Store
TalkExamples.lean
Chap7Unused.lean